BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: false
AlwaysBreakTemplateDeclarations: No
PointerAlignment: Right
IncludeBlocks: Merge